/* You can add global styles to this file, and also import other style files */
.button{
    margin:10px;
    background-color: #F24150;
    color: white;
}

h2{
    font-family:fantasy ;
    font-size: 50px;
}
.back{
    
   
}
.text{
    color: rgba(3, 3, 3, 0.6);
    font-family: 'Raleway';
    font-size: 17px;
    padding:20px;
    
    
}
.imagen{
    padding:0;
}
.footer{
    background-color:#474143;
    height: 100px;
    color: white;
}
.mt{
    margin-top: 20px;
}